{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
    <section class="banner" style="background-image: url('{% static 'images/deals.jpg' %}'); height: 300px;">
        <div class="overlay">
            <div class="container">
                <div class="first" style="margin-top: 2.3em;"><strong>Deals</strong>
        </div>
    </section>

    <section class="event-content">
        <div class="container">

            <div class="title">
                <div class="line"></div>
                <div class="text">Deals</div>
            </div>

            <div class="content">
               <div class="cards">
                <div class="row">
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{% static 'images/1.jpg' %}')">
                                <div class="category">Gold</div>
                            </div>
                            <div class="card-title">The Lagos Ultimate Party 2019</div>
                            <div class="description">
                                <span><i class="far fa-calendar-alt"></i> </span> Saturday, May 1st 2020
                            </div>
                            <div class="description">
                                <span><i class="far fa-clock"></i></span> 10pm till 5am
                            </div>
                            <div class="description">
                                <span><i class="fas fa-map-marker-alt"></i></span> LandMark Event Center, Oniru.
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N5,000
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N10,000
                            </div>
                            <div class="btn-wrap">
                                <a ui-sref="singleEvent" data-toggle="modal" data-target="#deals" class="buy">View Details</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{% static 'images/1.jpg' %}')">
                                <div class="category">Silver</div>
                            </div>
                            <div class="card-title">The Lagos Ultimate Party 2019</div>
                            <div class="description">
                                <span><i class="far fa-calendar-alt"></i> </span>    Saturday, May 1st 2020
                            </div>
                            <div class="description">
                                <span><i class="far fa-clock"></i></span>    10pm till 5am
                            </div>
                            <div class="description">
                                <span><i class="fas fa-map-marker-alt"></i></span> LandMark Event Center, Oniru.
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N5,000
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N10,000
                            </div>
                            <div class="btn-wrap">
                                <a ui-sref="singleEvent" data-toggle="modal" data-target="#deals" class="buy">View Details</a>
                            </div>

                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{% static 'images/1.jpg' %}')">
                                <div class="category">Diamond</div>
                            </div>
                            <div class="card-title">The Lagos Ultimate Party 2019</div>
                            <div class="description">
                                <span><i class="far fa-calendar-alt"></i> </span>    Saturday, May 1st 2020
                            </div>
                            <div class="description">
                                <span><i class="far fa-clock"></i></span>    10pm till 5am
                            </div>
                            <div class="description">
                                <span><i class="fas fa-map-marker-alt"></i></span> LandMark Event Center, Oniru.
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N5,000
                            </div>
                            <div class="price">
                                <strong>Regular:</strong> N10,000
                            </div>
                            <div class="btn-wrap">
                                <a ui-sref="singleEvent" data-toggle="modal" data-target="#deals" class="buy">View Details</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </section>

    <!-- <section class="not-available">
        <div class="container">
           <img src="{% static 'images/ticketr_icon_transparent.png' %}" alt="">
           <div class="info">No deals available yet.</div>
           <a href="#">Click to go back to home page</a>
        </div>
    </section> -->



    <div class="modal fade" id="deals" tabindex="-1" role="dialog" aria-labelledby="dealsModal" aria-hidden="true">
        <div class="modal-dialog" style="max-width: 900px;" role="document">
          <div class="modal-content deals">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <div class="deal-info">
                  <form action="">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="deals-img" style="background-image: url('{% static 'images/1.jpg' %}')"></div>
                            </div>
                            <div class="col-md-8">
                                <div class="title">
                                    The Lagos Ultimate Party 2019
                                </div>
                                <div class="price">
                                    <strong>Regular:</strong> N5,000
                                    <div>
                                        <div class="price">
                                            <strong>Regular:</strong> N10,000
                                        </div>
                                        <input type="number" value="0">
                                        <div class="description">
                                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci tempore eaque, eveniet illo voluptates quas ea. Illum exercitationem odit
                                            consequatur vitae, excepturi voluptatibus veniam libero error voluptatem molestias id laborum.
                                        </div>
                                        <div>
                                            <a href="#" class="buy">Buy Now</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                  </form>
                </div>
            </div>
      </div>
{% endblock %}