{% extends 'base.html' %}
{% load humanize %}
{% load static %}

{% block pagecontent %}

<section class="table" style="margin: 5em 0">
    <div class="container">
        <table>
            <tr class="header">
                <th>Item</th>
                <th>Ticket Type</th>
                <th>Fee</th>
                <th>QTY</th>
                <th></th>
            </tr>
            {% for item in cart %}
                {% with product=item.product %}
                    <tr>
                        <td>
                            {% if item.item_type == 'events' %}
                                {{ product.event }}
                            {% elif item.item_type == 'deals' %}
                                {{ product.deal }}
                            {% else %}
                                {{ product.movie }}
                            {% endif %}
                        </td>
                        <td>
                            {{ product }}
                            <div class="more-info"> <a href="#">More Info</a></div>
                        </td>
                        <td>{{ product.display_price }}</td>
                        <td>
                            <form action="{% url 'cart:add' product.id %}" method="post">
                                {{ item.update_quantity_form.quantity }}
                                {{ item.update_quantity_form.item_type }}
                                {{ item.update_quantity_form.update }}
                                <button type="submit">Update</button>
                                {% csrf_token %}
                            </form>
                        </td>
                        <td><a href="{% url 'cart:remove' item.item_type product.id %}"><i class="fas fa-times"></i></a></td>
                    </tr>
                {% endwith %}
            {% endfor %}
            <tr>
                <td colspan="3">
                </td>
                <td>
                    Total
                </td>
                <td>NGN{{ cart.get_total_price | intcomma }}</td>

            </tr>
            <tr>
                <td colspan="4">
                    <ul class="payment-icon">
                        <li><img src="{% static 'images/visa.png' %}" alt="visa"></li>
                        <li><img src="{% static 'images/mastercard.png' %}" alt="master card"></li>
                        <li><img src="{% static 'images/verve.png' %}" alt="verve"></li>
                    </ul>
                </td>
                <td>
                    <!--<a href="{% url 'orders:create' %}"><button>Checkout</button></a> -->
                    <a href="#"><button>Checkout</button></a>
                </td>
            </tr>
            <tr>
                <td colspan="5"><a class="refund" href="#">REFUND POLICY</a></td>
            </tr>
        </table>
    </div>
</section>

{% endblock %}