<section class="banner d-none d-lg-block" style="background-image: url('images/banner4.jpg')">
  <!-- <div class="overlay">
		<div class="container">
			<div class="first"><strong>Connecting people</strong> together <br>through <strong>real life experiences.</strong> </div><br/>
		</div>
	</div> -->
</section>
<div class="create-event">
  <div class="container">
    <div class="title">
      From <strong>music festivals</strong> to <strong>conventions</strong>,
      <strong>fashion runways</strong> to <strong>travel deals,</strong> we sell
      them all!
    </div>
    <div class="caption">
      Get started in minutes
    </div>

    <div class="form-info-sec">
      <div class="main-wrapper">
        <div class="form-title">
          Basic Details
        </div>
        <div class="col-md-8 p-0">
          <div class="form-caption">
            Name your event and tell event-goers why they should come. Add
            details that highlight what makes it unique
          </div>
        </div>
        <div class="form-wrap">
          <label for="">Event Title</label>
          <input type="text" placeholder="Be clear and descriptive" />
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-wrap">
              <label for="">Event Type</label>
              <select name="" id="">
                <option value="">Type</option>
              </select>
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-wrap">
              <label for="">Event Category</label>
              <select name="" id="">
                <option value="">Category</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-wrap">
              <label for="">Organizer</label>
              <select name="" id="">
                <option value="">Organic Lagos</option>
              </select>
            </div>
          </div>
        </div>
      </div>

      <div class="main-wrapper">
        <div class="form-title">
          Location
        </div>
        <div class="col-md-8 p-0">
          <div class="form-caption">
            Help people in the area discover your event and let attendees know
            where to show up.
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <div class="form-wrap">
              <label for="">Venue</label>
              <select name="" id="">
                <option value="">Type</option>
              </select>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="form-wrap">
              <label for="">Search</label>
              <input type="text" placeholder="Search for a venue or address." />
            </div>
          </div>
        </div>
      </div>

      <div class="main-wrapper">
        <div class="form-title">
          Date and time
        </div>
        <div class="col-md-8 p-0">
          <div class="form-caption">
            Tell event-goers when your event starts and ends so they can make
            plans to attend.
          </div>
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-wrap">
              <label for="">Event Starts</label>
              <input type="text" value="04/08/2019" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-wrap">
              <label for="">Start Time</label>
              <input type="text" value="7:00am" />
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="form-wrap">
              <label for="">Event Ends</label>
              <input type="text" value="04/08/2019" />
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-wrap">
              <label for="">End Time</label>
              <input type="text" value="10:00pm" />
            </div>
          </div>
        </div>
      </div>

      <div class="main-wrapper">
            <div class="form-title">
              Upload
            </div>
            <div class="col-md-8 p-0">
              <div class="form-caption">
                Please upload your event flyer here. Image should be 1080 by 1080px
              </div>
            </div>
            <div class="row">
              <div class="col-md-6">
                <div class="form-wrap form-group">
                        <label for="exampleFormControlFile1">Upload flyer</label>
                        <input type="file" class="form-control-file">
                </div>
              </div>
              
          </div>
    </div>

    <div class="main-wrapper">
            <div class="form-title">
              Describe your event
            </div>
            <div class="col-md-8 p-0">
              <div class="form-caption">
                Let your guests know why they need to look forward to your event and be sure to get them excited!
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-wrap">
                    <textarea rows="10"></textarea>
                </div>
              </div>
              
          </div>
    </div>

    <div class="main-wrapper">
            <div class="form-title">
              Other details
            </div>
            <div class="col-md-8 p-0">
              <div class="form-caption">
                Who is speaking? Who is performing? Guest appearances? Giveaways?
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="form-wrap">
                    <textarea rows="10"></textarea>
                </div>
              </div>
              
          </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <button type="submit">Submit</button>
        </div>
    </div>
  </div>
</div>
