<section class="banner" style="background-image: url('images/b2.jpg')">
	<div class="overlay">
		<div class="container">
			<div class="first"><strong>Connecting people</strong> together <br>through <strong>real life experiences.</strong> </div><br/>
		</div>
	</div>
</section>

<section class="search">
    <div class="container">
        <div class="search-wrap">
            <form action="">
                <div class="row">
                    <div class="col-md-11">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Search event</label>
                                    <input type="text" placeholder="Search event">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap">
                                    <label for="">Search deal</label>
                                    <input type="text" placeholder="Search deal">
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="form-wrap last">
                                    <label for="">Search location</label>
                                    <input type="text" placeholder="Search location">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-1">
                        <button>Go</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

<section class="content">
    <div class="container">
        <div class="title">
            <div class="line"></div>
            <div class="text">all the <span class="italic">hottest</span> tickets in on spot</div>
            <div class="line"></div>
        </div>
        <div class="cards">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/1.jpg')"></div>
                        <div class="card-title">The Lagos Ultimate Party 2019</div>
                        <div class="description">
                            Saturday, May 1st 2020 10pm till 5am LandMark Event Center, Oniru.
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N5,000
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N10,000
                        </div>
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <a ui-sref="singleEvent" class="buy">Buy Ticket</a>
                            <a ui-sref="/" class="buy">Share Details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/1.jpg')"></div>
                        <div class="card-title">The Lagos Ultimate Party 2019</div>
                        <div class="description">
                            Saturday, May 1st 2020 10pm till 5am LandMark Event Center, Oniru.
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N5,000
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N10,000
                        </div>
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Buy Ticket</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/1.jpg')"></div>
                        <div class="card-title">The Lagos Ultimate Party 2019</div>
                        <div class="description">
                            Saturday, May 1st 2020 10pm till 5am LandMark Event Center, Oniru.
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N5,000
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N10,000
                        </div>
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Buy Ticket</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/1.jpg')"></div>
                        <div class="card-title">The Lagos Ultimate Party 2019</div>
                        <div class="description">
                            Saturday, May 1st 2020 10pm till 5am LandMark Event Center, Oniru.
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N5,000
                        </div>
                        <div class="price">
                            <strong>Regular:</strong> N10,000
                        </div>
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Buy Ticket</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
            </div>
        </div>
        <div class="more-content">
            <button>More</button>
        </div>
    </div>
</section>

<section class="content explore">
    <div class="container">
        <div class="title">
            <div class="line"></div>
            <div class="text">explore our deals for more</div>
            <div class="line"></div>
        </div>
        <div class="cards">
            <div class="row">
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/2.jpg')"></div>
                        <div class="card-title">Explore the city with our <strong>Ticketr Basic Deal</strong></div>
                        <div class="description">
                            This deal gives you and a loved one access to a dinner for 2, movie tickets for 2, spa date for 2 and fun time at Rufus'n Bee <strong>plus a suprice gift, if you book now!</strong>
                        </div>
                        
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Book now</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/2.jpg')"></div>
                        <div class="card-title">Explore the city with our <strong>Ticketr Basic Deal</strong></div>
                        <div class="description">
                            This deal gives you and a loved one access to a dinner for 2, movie tickets for 2, spa date for 2 and fun time at Rufus'n Bee <strong>plus a suprice gift, if you book now!</strong>
                        </div>
                        
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Book now</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/2.jpg')"></div>
                        <div class="card-title">Explore the city with our <strong>Ticketr Basic Deal</strong></div>
                        <div class="description">
                            This deal gives you and a loved one access to a dinner for 2, movie tickets for 2, spa date for 2 and fun time at Rufus'n Bee <strong>plus a suprice gift, if you book now!</strong>
                        </div>
                        
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Book now</button>
                        <button class="buy">Share Details</button>
                        </div>
                        
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/2.jpg')"></div>
                        <div class="card-title">Explore the city with our <strong>Ticketr Basic Deal</strong></div>
                        <div class="description">
                            This deal gives you and a loved one access to a dinner for 2, movie tickets for 2, spa date for 2 and fun time at Rufus'n Bee <strong>plus a suprice gift, if you book now!</strong>
                        </div>
                        
                        <a class="read-more" href="#">Read More</a>
                        <div class="btn-wrap">
                            <button class="buy">Book now</button>
                        <button class="buy">Share Details</button>
                        </div>

                        
                    </div>
                </div>
            </div>
        </div>
        <div class="more-content">
            <button>More</button>
        </div>
    </div>
</section>

<section class="discover-more">
    <div class="container">
        <div class="title">
            <div class="line"></div>
            <div class="text">discover more</div>
            <div class="line"></div>
        </div>
        <div class="cards">
            <div class="row">
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/m1.jpg')">
                            <div class="overlay">
                                <div class="card-title">Fashion & arts</div>
                                <div class="description">
                                    Get the access to all fashion runway shows and style paties
                                </div>
                                
                                <button class="buy">Buy tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/b1.webp')">
                            <div class="overlay">
                                <div class="card-title">Music concerts</div>
                                <div class="description">
                                    We've got all the tickets to the biggest music shows
                                </div>
                                
                                <button class="buy">Buy tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/2.jpg')">
                            <div class="overlay">
                                <div class="card-title">Travel & lifestyle</div>
                                <div class="description">
                                    Looking for cool deals for that getaway with your buddy & family?
                                </div>
                                
                                <button class="buy">Shop deals</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/m2.jpg')">
                            <div class="overlay">
                                <div class="card-title">Film & cinema</div>
                                <div class="description">
                                    Get ticket to all the hottest films and cinema events in town
                                </div>
                                
                                <button class="buy">Buy tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/b3.png')">
                            <div class="overlay">
                                <div class="card-title">Training & seminars</div>
                                <div class="description">
                                    Plan to attend the most insightful training and seminars, in town!
                                </div>
                                
                                <button class="buy">Book a seat</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('images/b3.jpg')">
                            <div class="overlay">
                                <div class="card-title">Comedy shows</div>
                                <div class="description">
                                    Grab a seat at all the funniest shows and comedy events in town
                                </div>
                                
                                <button class="buy">Buy tickets</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="newsletter">
    <div class="container">
        <div class="text">
            Stay connected to us to know more about upcoming events, news updates, giveaways and more
        </div>
        <div class="form">
            <form action="">
                <input type="text" placeholder="Enter your email here">
            </form>
        </div>
    </div>
</section>