<section class="banner" style="background-image: url('images/banner2.jpg')">
	<!-- <div class="overlay">
		<div class="container">
			<div class="first"><strong>Connecting people</strong> together <br>through <strong>real life experiences.</strong> </div><br/>
		</div>
	</div> -->
</section>

<section class="event-content">
    <div class="container">
        <div class="col-md-6 col-sm-12 p-0"> <div class="event-title">God's Children 7th Anniversary</div></div>
        <div class="caption">By God's Children of Memphis [<a href=""><strong>OTHER EVENTS</strong></a>]</div>
        <div class="time-wrap">
            <div class="time">
                <strong>SUN, MAR 3 2019</strong>
                <span>5:00PM</span>
            </div>
            <div class="time">
                <strong>MON, MAR 4 2019</strong>
                <span>12:00PM</span>
            </div>
        </div>
        <div class="title">
            <div class="line"></div>
            <div class="text">TICKETS</div>
        </div>
    </div>
</section>

<section class="table">
    <div class="container">
        <table>
            <tr class="header">
                <th>Ticket Type</th>
                <th>Ticket</th>
                <th>Fee</th>
                <th>QTY</th>
            </tr>
            <tr>
                <td style="width: 40%;">Advance Ticket</td>
                <td>$15.00</td>
                <td>$1.75</td>
                <td>
                    <form action="">
                        <select>
                            <option value="">0</option>
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td>
                    V.I.P Ticket
                    <div class="more-info"> <a href="#">More Info</a></div>
                </td>
                <td>$30.00</td>
                <td>$2.75</td>
                <td>
                    <form action="">
                        <select>
                            <option value="">0</option>
                            <option value="">1</option>
                            <option value="">2</option>
                        </select>
                    </form>
                </td>
            </tr>
            <tr>
                <td colspan="3">
                    <ul class="payment-icon">
                        <li><img src="images/visa.png" alt="visa"></li>
                        <li><img src="images/mastercard.png" alt="master card"></li>
                        <li><img src="images/verve.png" alt="verve"></li>
                    </ul>
                </td>
                <td>
                    <button>Checkout</button>
                </td>
            </tr>
            <tr>
                <td colspan="4"><a class="refund" href="#">REFUND POLICY</a></td>
            </tr>
        </table>
    </div>
</section>