Django==2.2.10
django-admin-interface==0.10.5
django-appconf==1.0.3
django-colorfield==0.1.15
django-crispy-forms==1.7.2
django-cruds-adminlte==0.0.16
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-image-cropping==1.2.0
django-safedelete==0.5.1
django-select2==7.0.3
djangoajax==3.1
easy-thumbnails==2.6
Pillow==6.0.0
pytz==2019.1
PyYAML==5.1
six==1.12.0
sqlparse==0.3.0
