{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}
    <section class="bxslider">
        <div class="banner" style="background-image: url('{% static 'images/h1.jpg' %}'); height: 450px;">
            <div class="overlay">
                <div class="container">
                    <div class="first">Connecting people through <br><strong>real life experiences.</strong> </div><br/>
                </div>
            </div>
        </div>
        <div class="banner" style="background-image: url('{% static 'images/h2.jpg' %}'); height: 450px;">
            <div class="overlay">
                <div class="container">
                    <div class="first">Enjoy <strong>beautiful destinations and <br> experiences</strong> for less with our deals </div><br/>
                </div>
            </div>
        </div>
        <div class="banner" style="background-image: url('{% static 'images/h3.jpg' %}'); height: 450px;">
            <div class="overlay">
                <div class="container">
                    <div class="first">Celebrate <strong>friendship and true connections</strong><br> with Ticketr </div><br/>
                </div>
            </div>
        </div>
    </section>
    

    <section class="search">
        <div class="container">
            <div class="search-wrap">
                <form action="{% url 'events:search' %}" method="GET">
                    <div class="row">
                        <div class="col-md-11">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                        <label for="">Search events</label>
                                        <input type="text" placeholder="Search event" name="q">
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="form-wrap">
                                        <label for="">Search by location</label>
                                        <input type="text" placeholder="Search by location" name="location">
                                    </div>
                                </div>
                                <!--
                                <div class="col-md-4">
                                    <div class="form-wrap last">
                                        <label for="">Search location</label>
                                        <input type="text" placeholder="Search location">
                                    </div>
                                </div>
                                -->
                            </div>
                        </div>
                        <div class="col-md-1">
                            <button>Go</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </section>

    {% if events %}
    <section class="content">
        <div class="container">
            <div class="title">
                <div class="line"></div>
                <div class="text">all the <span class="italic">hottest</span> events in on spot</div>
                <div class="line"></div>
            </div>
            <div class="cards">
                <div class="row">
                    {% for event in events %}
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{{ event.image.url }}')"></div>
                            <div class="card-content-wrap">
                                <div class="card-title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></div>
                                <div class="description">
                                    <span><i class="far fa-calendar-alt"></i> </span> {{ event.start_date | date:'l, M jS  Y' }}
                                </div>
                                <div class="description">
                                    <span><i class="far fa-clock"></i></span> {{ event.start_time | date:'H:i a' }}
                                </div>
                                <div class="description">
                                    <span><i class="fas fa-map-marker-alt"></i></span> {{ event.venue }}
                                </div>
                                {% for ticket in event.tickets.all %}
                                <div class="price">
                                    <strong>{{ ticket.name }}:</strong> {{ ticket.display_price }}
                                </div>
                                {% endfor %}
                                <!-- <a class="read-more" href="{{ event.get_absolute_url }}">Read More</a> -->
                                <div class="btn-wrap">
                                    <a href="{{ event.get_absolute_url }}" class="buy">Buy Ticket</a>
                                    <a href="/" class="buy">Share Details</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="more-content">
                <button><a href="{% url 'events:list' %}">More</a></button>
            </div>
        </div>
    </section>
    {% endif %}

    {% if deal %}
    <section class="content explore">
        <div class="container">
            <div class="title">
                <div class="line"></div>
                <div class="text">explore our deals for more</div>
                <div class="line"></div>
            </div>
            <div class="cards">
                <div class="row">
                    {% for cat in deal.options.all %}
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{{ cat.image.url }}')"></div>
                            <div class="card-content-wrap">
                                <div class="card-title">Explore the city with our <strong>{{ cat.category.name }}</strong></div>
                                <div class="description">
                                    {{ cat.summary }}
                                </div>

                                <a class="read-more" href="#">Read More</a>
                                <div class="btn-wrap">
                                    <button class="buy">Book now</button>
                                <button class="buy">Share Details</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
            <div class="more-content">
                <button><a href="{% url 'deals:list' %}">More</a></button>
            </div>
        </div>
    </section>
    {% endif %}

    {% if categories %}
    <section class="discover-more">
        <div class="container">
            <div class="title">
                <div class="line"></div>
                <div class="text">discover more</div>
                <div class="line"></div>
            </div>
            <div class="cards">
                <div class="row">
                    {% for cat in categories %}
                    <div class="col-md-4">
                        <div class="card-wrap">
                            <div class="card-img" style="background-image: url('{{ cat.image.url }}')">
                                <div class="overlay">
                                    <div class="card-title">{{ cat.name }}</div>
                                    <div class="description">
                                        {{ cat.short_description }}
                                    </div>

                                    <button class="buy">Buy tickets</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>
    {% endif %}

    {% include "newsletter/_create.html" %}

{% endblock %}
