{% extends 'base.html' %}
{% load static %}
{% block pagecontent %}
<section class="container">
        <div class="row">
            <div class="col-md-6 offset-md-3">

<div class="ticketr-signup standalone">
        <div class="logo">
            <img src="{% static 'images/ticketr_logo_transparent.png' %}" alt="">
        </div>
        <div class="title">Sign up to start selling your tickets, in minutes!</div>
        <div class="form-content">
<form action="{% url 'pages:signup' %}" method="post">
    {% csrf_token %}
    <div class="form-wrap">
        <label for="">Name of Partner</label>
        <input type="text" name="company" placeholder="Enter name of partner">
    </div>
    <!--
    <div class="form-wrap">
        <label for="">Business Address</label>
        <textarea name="address"></textarea>
    </div>
    -->
    <div class="form-wrap">
        <label for="">Business Phone Number</label>
        <input type="text" name="phone" placeholder="Enter business phone number">
    </div>
    <div class="form-wrap">
        <label for="">Email</label>
        <input type="email" name="email" placeholder="Enter Email">
    </div>
    <div class="form-wrap">
        <label for="">Password</label>
        <input type="password" name="password" placeholder="Enter password">
    </div>
    <div class="form-wrap">
        <label for="">Website</label>
        <input type="text" name="website" placeholder="Enter website">
    </div>
    <button type="submit">Create account</button>
</form>
</div>
        <div class="terms" style="color: #333;">
            BY CREATING AN ACCOUNT, YOU AGREE TO THE TICKETR SERVICES AGREEMENT AND <a style="color: #333;" href="#"> <strong>TERMS OF SERVICE</strong> </a>
        </div>
        <div class="with-account">
            Already registered? Please <a class="button" href="{% url 'pages:sign-in' %}">Sign in</a>
        </div>
        <div class="without-account">
            Looking to buy tickets? lets <a class="button" href="{% url 'events:list' %}">Shop tickets</a>
        </div>
    </div>
</div>
</div>
</section>

{% endblock %}