body {
  position: relative;
  font-family: "Roboto", sans-serif !important;
}
a {
  text-decoration: none;
}
html {
  font-size: 15px;
}
.pl-0 {
  padding-left: 0;
}
.p-0 {
  padding: 0;
}
#main {
  overflow: hidden;
}
header {
  width: 100%;
  height: 5rem;
  margin: auto;
  overflow: hidden;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
header a.logo {
  line-height: 70px;
  display: block;
}
header a.logo img {
  width: 140px;
}
header nav {
  width: 100%;
}
header nav ul {
  margin: 0;
  padding: 0;
  text-align: right;
  width: 100%;
  margin-top: 16px;
}
header nav ul li {
  display: inline-block;
}
header nav ul li a {
  display: inline-block;
  margin-left: 20px;
  color: #00637c !important;
  padding: 10px;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
header nav ul li a:hover {
  color: #000;
  text-decoration: none;
}
header nav ul li a:after {
  content: " ";
  right: -11px;
  position: absolute;
  top: 9px;
  font-size: 26px;
  border-right: 2px solid #00637c;
  height: 60%;
}
header nav ul li:last-child a:after {
  content: "";
  border: none;
}
header nav ul li.active a {
  color: #fff;
  font-weight: 600;
}
header nav ul li.create {
  margin-left: 20px;
}
header nav ul li.create a {
  border: 1px solid transparent;
  padding: 4px 19px;
  border-radius: 6px;
  background: #ffcd37;
}
header .menu-icon {
  position: absolute;
  right: 2em;
  top: -48px;
  cursor: pointer;
}
header .menu-icon i {
  font-size: 30px;
  color: #00637c;
}
@media (min-width: 768px) {
  header {
    padding: 0 5rem;
  }
}
.mobile-menu-wrap {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 205, 55, 0.85);
  z-index: 10;
  text-align: center;
  display: none;
}
.mobile-menu-wrap.home {
  padding: 60px 30px;
  overflow: auto;
}
.mobile-menu-wrap .cancel {
  position: absolute;
  top: 10px;
  right: 30px;
  cursor: pointer;
}
.mobile-menu-wrap .cancel i {
  font-size: 40px;
  color: #fff;
}
.mobile-menu-wrap ul {
  margin: 0;
  padding: 0;
}
.mobile-menu-wrap ul li {
  display: block;
  padding-bottom: 20px;
}
.mobile-menu-wrap ul li a {
  display: block;
  font-size: 30px;
  color: #fff;
  font-weight: 600;
  text-decoration: none;
}
.banner {
  position: relative;
  width: 100%;
  height: 520px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.banner .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.banner .overlay .first {
  padding: 10px 40px;
  margin: auto;
  display: inline-block;
  margin-top: 3em;
  margin-bottom: 1em;
  font-weight: 200;
  font-size: 16px;
  color: #fff;
  font-size: 20px;
  font-size: 45px;
}
.search {
  padding: 2rem 0;
  z-index: 10;
  margin-top: -6rem;
}
.search .search-wrap {
  min-height: 5rem;
  background-color: #fff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  padding: 20px 20px 30px 20px;
}
.search .search-wrap .form-wrap {
  position: relative;
}
.search .search-wrap .form-wrap label {
  display: block;
  font-weight: 600;
  font-size: 14px;
}
.search .search-wrap .form-wrap input {
  width: 100%;
  outline: none;
  padding: 5px 10px;
  border: 2px solid #efefef;
  background: #efefef;
}
.search .search-wrap .form-wrap:after {
  content: "";
  position: absolute;
  right: -15px;
  top: 0;
  border-right: 1px solid #ffbc36;
  height: 77px;
}
.search .search-wrap .form-wrap.last:after {
  content: none;
}
.search .search-wrap button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  color: #fff;
  background: #00374a;
  outline: none;
  margin-top: 13px;
}
.content {
  margin: 3rem 0;
}
.content .title {
  display: flex;
  margin-bottom: 40px;
}
.content .title .line {
  width: 30%;
  border-top: 2px solid #00374a;
  margin-top: 24px;
}
.content .title .text {
  width: 70%;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.content .title .text .italic {
  font-family: "Pacifico", cursive;
  color: #ffbc36;
  font-style: italic;
  font-weight: 100;
  padding: 0 5px;
}
.content .cards .card-wrap {
  color: #00374a;
  margin-bottom: 40px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.content .cards .card-wrap .card-img {
  position: relative;
  width: 100%;
  height: 200px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  border-radius: 0;
}
.content .cards .card-wrap .card-title {
  padding: 5px 15px;
  font-weight: 600;
  font-size: 20px;
  line-height: 28px;
  margin-bottom: 0;
}
.content .cards .card-wrap .description {
  font-weight: 400;
  font-size: 15px;
  padding: 0 15px 5px 15px;
}
.content .cards .card-wrap .price {
  position: relative;
  padding: 0 15px;
}
.content .cards .card-wrap .read-more {
  font-weight: 600;
  display: block;
  color: #00374a;
  padding: 0 15px;
}
.content .cards .card-wrap .btn-wrap {
  padding: 10px 15px;
}
.content .cards .card-wrap button.buy,
.content .cards .card-wrap a.buy {
  display: inline-block;
  border: 1px solid transparent;
  padding: 4px 10px;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  color: #000;
}
.content .more-content {
  margin: 0rem 0 3rem 0;
  text-align: center;
}
.content .more-content button,
.content .more-content a {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: none;
  font-weight: 600;
  color: #fff;
  background: #00374a;
  margin-top: 13px;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
  outline: none;
  text-decoration: none;
}
.content.explore .cards .card-title {
  font-weight: 400;
  font-size: 18px;
}
.discover-more {
  margin: 3rem 0;
}
.discover-more .title {
  display: flex;
  margin-bottom: 40px;
}
.discover-more .title .line {
  width: 50%;
  border-top: 2px solid #00374a;
  margin-top: 24px;
}
.discover-more .title .text {
  width: 50%;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 30px;
}
.discover-more .title .text .italic {
  font-family: "Pacifico", cursive;
  color: #ffbc36;
  font-style: italic;
  font-weight: 100;
  padding: 0 5px;
}
.discover-more .cards .card-wrap {
  margin-bottom: 40px;
  color: #fff;
}
.discover-more .cards .card-wrap .card-img {
  position: relative;
  width: 100%;
  height: 300px;
  background-position: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #efefef;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
.discover-more .cards .card-wrap .card-img .overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 7rem 20px 20px 20px;
}
.discover-more .cards .card-wrap .card-img .overlay .card-title {
  padding: 10px 0 0 0;
  font-weight: 600;
  font-size: 25px;
}
.discover-more .cards .card-wrap .card-img .overlay .description {
  font-weight: 400;
  font-size: 16px;
  padding-bottom: 10px;
}
.discover-more .cards .card-wrap .card-img .overlay button.buy,
.discover-more .cards .card-wrap .card-img .overlay a.buy {
  display: inline-block;
  border: 1px solid transparent;
  padding: 4px 15px;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
}
.newsletter {
  margin: 3rem 0;
  text-align: center;
}
.newsletter .text {
  color: #00374a;
  padding: 20px 0;
  font-size: 20px;
  font-weight: 600;
}
.newsletter input {
  width: 300px;
  height: 55px;
  border: 9px solid #00374a;
  padding: 0 10px;
  outline: none;
  text-align: center;
}
.modal-content {
  background: transparent;
  border: none;
}
.modal-content .ticketr-signup {
  position: relative;
  text-align: center;
}
.modal-content .ticketr-signup .logo img {
  width: 140px;
}
.modal-content .ticketr-signup .title {
  font-weight: 600;
  font-size: 30px;
  color: #fff;
  padding: 0 10px;
  margin: 25px 0;
}
.modal-content .ticketr-signup .form-content {
  background: #fff;
  padding: 50px;
}
.modal-content .ticketr-signup .form-content .form-wrap {
  position: relative;
  margin-bottom: 5px;
}
.modal-content .ticketr-signup .form-content .form-wrap label {
  display: block;
  font-weight: 500;
  margin-bottom: 1px;
  text-align: left;
}
.modal-content .ticketr-signup .form-content .form-wrap input {
  width: 100%;
  outline: none;
  padding: 10px;
  border: 2px solid #999;
  background: #fff;
}
.modal-content .ticketr-signup .form-content .form-wrap textarea {
  width: 100%;
  max-height: 100px;
  outline: none;
  padding: 10px;
  border: 2px solid #999;
  background: #fff;
}
.modal-content .ticketr-signup .form-content button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 4px 15px;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  margin-top: 20px;
  font-weight: 600;
}
.modal-content .ticketr-signup .terms {
  padding: 40px 10px;
  font-weight: 600;
  font-size: 18px;
  color: #fff;
}
.modal-content .ticketr-signup .terms a {
  color: #fff;
}
.modal-content .ticketr-signup .with-account {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding-bottom: 10px;
  margin-bottom: 1rem;
  border-bottom: 1px solid #ffbc36;
}
.modal-content .ticketr-signup .with-account a.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2px 15px;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  margin-left: 20px;
  color: #000;
  font-size: 15px;
}
.modal-content .ticketr-signup .without-account {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  padding-bottom: 10px;
}
.modal-content .ticketr-signup .without-account a.button {
  display: inline-block;
  border: 1px solid transparent;
  padding: 2px 15px;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  font-weight: 400;
  margin-left: 20px;
  color: #000;
  font-size: 15px;
}
.modal-backdrop.show {
  opacity: 0.8 !important;
}
.event-content {
  margin: 5rem 0;
}
.event-content .event-title {
  font-weight: bold;
  font-size: 56px;
  line-height: 58px;
  padding-bottom: 10px;
}
.event-content .caption {
  color: #999;
  font-size: 17px;
}
.event-content .caption a {
  color: #ffbc36;
  display: inline-block;
  padding: 0 10px;
}
.event-content .time-wrap {
  margin-top: 20px;
}
.event-content .time-wrap .time {
  display: inline-block;
  margin-right: 50px;
  position: relative;
}
.event-content .time-wrap .time strong {
  color: #536160;
  font-size: 19px;
}
.event-content .time-wrap .time span {
  display: block;
  color: #999;
}
.event-content .time-wrap .time:last-child:before {
  content: "";
  position: absolute;
  width: 20px;
  border-top: 2px solid;
  left: -36px;
  top: 9px;
}
.event-content .title {
  display: flex;
  margin-bottom: 40px;
  margin-top: 40px;
}
.event-content .title .line {
  width: 85%;
  border-top: 2px solid #f5d69c;
  margin-top: 18px;
}
.event-content .title .text {
  width: 15%;
  padding: 0 20px;
  text-align: center;
  font-weight: 600;
  font-size: 25px;
  color: #f5d69c;
}
.table table {
  width: 100%;
}
.table table tr.header {
  background: #011111;
}
.table table tr.header th {
  color: #fff;
  padding: 15px 20px;
}
.table table tr td {
  font-weight: 600;
  padding: 20px;
}
.table table tr td .payment-icon {
  margin: 0;
  padding: 0;
  text-align: left;
}
.table table tr td .payment-icon li {
  display: inline-block;
  padding-right: 20px;
}
.table table tr td .payment-icon img {
  width: 50px;
}
.table table tr td button {
  padding: 7px 20px;
  background: #3391fa;
  color: #fff;
  border: none;
  border-radius: 3px;
  font-weight: 600;
}
.table table tr td .more-info {
  padding-top: 3px;
  font-size: 14px;
}
.table table tr td .more-info a {
  color: #ffbc36;
  font-weight: 500;
  text-align: left;
  text-decoration: none;
}
.table table tr td .refund {
  color: #ffbc36;
  font-weight: 600;
  text-align: right;
  text-decoration: none;
}
.table table tr td select {
  width: 60px;
  background: #fff;
  border: 2px solid #efefef;
  padding: 5px 10px;
}
.create-event {
  margin: 5rem 0;
}
.create-event .title {
  text-align: center;
  color: #00374a;
  font-size: 40px;
  position: relative;
}
.create-event .title:after {
  content: "";
  position: absolute;
  bottom: -15px;
  width: 100%;
  left: 0rem;
  border-bottom: 2px solid #ffbc36;
}
@media (min-width: 768px) {
  .create-event .title:after {
    content: "";
    position: absolute;
    bottom: -15px;
    width: 66%;
    left: 11rem;
    border-bottom: 2px solid #ffbc36;
  }
}
.create-event .caption {
  text-align: center;
  color: #00374a;
  margin-top: 35px;
  font-size: 23px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 7px;
}
.create-event .form-wrap {
  background-color: #fff;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  width: 100%;
  transition: background-color 0.2s ease;
  padding: 12px 12px 10px;
  margin-bottom: 30px;
}
.create-event .form-wrap .error {
  position: absolute;
  font-size: 13px;
  bottom: -25px;
  left: 10px;
  color: red;
}
.create-event .form-wrap[focus-within] {
  border-color: rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(231, 231, 231, 0.4);
}
.create-event .form-wrap[focus-within] label {
  opacity: 0.4;
}
.create-event .form-wrap:focus-within {
  border-color: rgba(0, 0, 0, 0.1) !important;
  background-color: rgba(231, 231, 231, 0.4);
}
.create-event .form-wrap:focus-within label {
  opacity: 0.4;
}
.create-event .form-wrap label {
  font-size: 14px;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  font-weight: 600;
  margin: 0;
  display: block;
  opacity: 1;
  transition: opacity 0.2s ease;
}
.create-event .form-wrap input,
.create-event .form-wrap input[type="text"],
.create-event .form-wrap input[type="email"],
.create-event .form-wrap select,
.create-event .form-wrap textarea {
  border: none;
  min-height: 25px;
  padding: 0;
  margin-top: -4px;
  background: 0 0;
  width: 100%;
  outline: none;
  position: relative;
  -webkit-appearance: none;
  color: #2c2c2c;
  outline: 0;
  padding: 8px 0;
  line-height: normal;
  font-size: 14px;
  font-weight: 400;
  vertical-align: middle;
  min-height: 35px;
  transition: all 0.12s ease;
  box-shadow: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}
.create-event .form-wrap input.required :after,
.create-event .form-wrap input[type="text"].required :after,
.create-event .form-wrap input[type="email"].required :after,
.create-event .form-wrap select.required :after,
.create-event .form-wrap textarea.required :after {
  content: "*";
  position: absolute;
  color: red;
  right: 10px;
  top: 5px;
  font-size: 2rem;
}
.create-event button {
  border: 1px solid transparent;
  padding: 10px 40px;
  font-weight: 600;
  border-radius: 6px;
  background: #ffcd37;
  margin-right: 10px;
  outline: none;
  text-decoration: none;
  color: #000;
  float: right;
}
.create-event .form-info-sec {
  margin: 6rem 0;
}
.create-event .form-info-sec .main-wrapper {
  margin-bottom: 50px;
}
.create-event .form-info-sec .form-title {
  font-weight: 600;
  font-size: 35px;
}
.create-event .form-info-sec .form-caption {
  padding: 0 0 20px 0;
  font-size: 18px;
  color: #00374a;
}
footer {
  height: auto;
  line-height: 5rem;
  border-bottom: 5px solid #00374a;
}
footer .subfooter {
  width: 100%;
  background: #00374a;
  text-align: center;
  color: #fff;
  font-size: 20px;
  letter-spacing: 2px;
  padding: 1rem 0;
}
footer .subfooter .click-here {
  color: #ffbc36;
  text-decoration: none;
}
footer .copywrite {
  color: #00637c;
  text-align: center;
}
footer .copywrite i {
  font-size: 22px;
}
@media (min-width: 768px) {
  footer .copywrite {
    text-align: left;
  }
}
footer ul {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
}
footer ul li {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
footer ul li a {
  display: inline-block;
  text-decoration: none;
  font-weight: 600;
  position: relative;
}
footer ul.footer-link {
  text-align: center;
}
footer ul.footer-link li {
  display: inline-block;
}
footer ul.footer-link li a {
  display: inline-block;
  margin-right: 30px;
  color: #00637c !important;
  text-decoration: none;
  position: relative;
}
footer ul.footer-link li a:hover {
  color: #000;
  text-decoration: none;
}
footer ul.footer-link li a:after {
  content: " ";
  right: -20px;
  position: absolute;
  top: 25px;
  font-size: 26px;
  border-right: 2px solid #00637c;
  height: 30%;
}
footer ul.footer-link li:last-child a:after {
  content: "";
  border: none;
}
footer ul.payment-icon {
  text-align: center;
}
footer ul.payment-icon img {
  width: 50px;
}
@media (min-width: 768px) {
  footer ul.payment-icon {
    text-align: left;
  }
}
footer ul.social-link {
  text-align: center;
}
footer ul.social-link li {
  margin-right: 10px;
}
footer ul.social-link li a {
  border: 2px solid #00374a;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  line-height: normal;
  padding-top: 5px;
  color: #00374a !important;
  text-align: center;
}
@media (min-width: 768px) {
  footer ul.social-link {
    text-align: right;
  }
}
@media (min-width: 768px) {
  footer ul {
    text-align: center;
  }
}
