{% block content %}
    <br/>
    {% if object %}
        <ul>
            <li>Discount Code: {{ object.code }}</li>
            <li>Discount: {{ object.display_discount }}</li>
            <li>Created at: {{ object.created_at }}</li>
            <li>Expiry date: {{ object.expiry_date }}</li>
            <li>Active: {{ object.is_active }}</li>
            <li>Created By: {{ object.created_by }}</li>
            <hr/>
        </ul>
    {% else %}
        <p>No objects found. Go back to <a href="{% url 'list' %}">list</a>page</p>
    {% endif %}
{% endblock %}