{% extends 'base.html' %}
{% load static %}

{% block pagecontent %}

<section class="event-content">
    <div class="container">
        <div class="col-md-6 col-sm-12 p-0"> <div class="event-title">{{ request.user }}</div></div>
        {% if request.user.address %}
        <div class="caption">{{ request.user.address }}</div>
        {% endif %}

        <div class="title">
            <div class="line" style="width: 75%;"></div>
            <div class="text" style="width: 25%;">Uploaded Events</div>
        </div>

        <div class="content">
           <div class="cards">
            <div class="row">
                {% for event in request.user.my_events.all %}
                    <div class="col-md-4">
                    <div class="card-wrap">
                        <div class="card-img" style="background-image: url('{{ event.image.url }}')"></div>
                        <div class="card-title"><a href="{{ event.get_absolute_url }}">{{ event.title }}</a></div>
                        <div class="description">
                            <span><i class="far fa-calendar-alt"></i> </span> {{ event.start_date | date:'l, M jS  Y' }}
                        </div>
                        <div class="description">
                            <span><i class="far fa-clock"></i></span> {{ event.start_time | date:'H:i a' }}
                        </div>
                        <div class="description">
                            <span><i class="fas fa-map-marker-alt"></i></span> {{ event.venue }}
                        </div>
                        {% for ticket in event.tickets.all %}
                            <div class="price">
                                <strong>{{ ticket.name }}:</strong> {{ ticket.display_price }}
                            </div>
                        {% endfor %}
                        <br/>

                    </div>
                </div>
                {% empty %}
                    <p>You have not created any events yet...</p>
                {% endfor %}
            </div>
        </div> 
        </div>


        <div class="create-event-button-wrap">
            <a href="{% url 'events:create' %}">Create event</a>
        </div>
        
    </div>
</section>

{% endblock %}