{% extends 'base.html' %}
{% load static %}
{% load humanize %}

{% block pagecontent %}
<section class="banner" style="background-image: url('{{ object.image.url }}')">
	<!-- <div class="overlay">
		<div class="container">
			<div class="first"><strong>Connecting people</strong> together <br>through <strong>real life experiences.</strong> </div><br/>
		</div>
	</div> -->
</section>

<section class="event-content">
    <div class="container">
        <div class="col-md-6 col-sm-12 p-0"> <div class="event-title">{{ object.title }}</div></div>
        <div class="caption">{{ object.description }} [<a href="{% url 'events:list-by-category' object.category.slug %}"><strong>OTHER {{ object.category | upper }} EVENTS</strong></a>]</div>
        <div class="time-wrap">
            <div class="time">
                <strong>{{ object.start_date | date:"D, M j Y" | upper }}</strong>
                <span>{{ object.start_time | time:"h:i A" | upper }}</span>
            </div>
            <div class="time">
                <strong>{{ object.end_date | date:"D, M j Y" | upper }}</strong>
                <span>{{ object.end_time | time:"h:i A" | upper }}</span>
            </div>
        </div>
        <div class="title normal">
            <div class="text">TICKETS</div>
        </div>
    </div>

    <section class="table">
        <div class="container">
            <form action="{% url 'events:purchase-tickets' %}" method="post">
                {% csrf_token %}
                {{ purchase_form.management_form }}
                <input type="hidden" name="form-TOTAL_FORMS" value="{{ object.tickets.count }}" id="id_form-TOTAL_FORMS">
                <table>
                    <tr class="header">
                        <th>Ticket Type</th>
                        <th>Ticket</th>
                        <th>Available QTY</th>
                        <th>QTY</th>
                    </tr>

                    {% for ticket in object.tickets.all %}
                    <tr>
                        <td style="width: 40%;">{{ ticket.name }}</td>
                        <td>N{{ ticket.price | intcomma }}</td>
                        <td>{{ ticket.quantity }}</td>
                        <td>
                            <input type="number" name="form-{{ forloop.counter0 }}-quantity" size="5" />
                            <input type="hidden" name="form-{{ forloop.counter0 }}-ticket_id" value="{{ ticket.id }}">
                        </td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <td colspan="3">
                            <ul class="payment-icon">
                                <li><img src="{% static 'images/visa.png' %}" alt="visa"></li>
                                <li><img src="{% static 'images/mastercard.png' %}" alt="master card"></li>
                                <li><img src="{% static 'images/verve.png' %}" alt="verve"></li>
                            </ul>
                        </td>
                        <td>
                            <button type="submit">Purchase tickets</button>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="4"><a class="refund" href="#">REFUND POLICY</a></td>
                    </tr>
                </table>
            </form>
        </div>
    </section>
</section>


{% endblock %}